header {
    background-color: $black;
    height: 77px;
    width: 100%;
    position: fixed;
    z-index: 100;
    .myNavbar {
        width: 100%;
        padding: 0px 35px;
        margin: 0 auto;
        height: 77px;
        background-color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 50px;
            width: 88px;
            margin-right: 35px;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 972px;
            .nav-item {
                a {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: none;
                    transition: 0.3s ease;
                    font-family: "Rubik", sans-serif;
                    &:hover {
                        color: $light_green;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {            
    .nav-item {
        display: none;               
    }
}
    
