.home-section {
    background-image: url(../../assets/images/home_image_01.jpg);
    @include bgImg;
    background-position-y: top;
    height: 100vh;
    display: flex;
    align-items: center;
}
.home-section-content-wrapper {
    width: 100%;
    padding-left: 200px;
    h1 {
        font-size: 80px;
        color: $white;
        font-weight: 750;
        font-family: "Rubik", sans-serif;
        line-height: 120%;
        margin-bottom: 40px;
        padding: 20px 0px;
    }
    a {
        @include button;
    }
}


@media screen and (max-width: 992px) {
    .home-section {
        @include flex_center;
        .home-section-content-wrapper {
            @include flex_center;
            flex-direction: column;
            padding: 0;
            h1 {
                text-align: center;
                font-size: 60px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .home-section {
        padding: 0;
        .home-section-content-wrapper {
            padding: 0;
            h1 {
                font-size: 40px;
            }
        }
    }
}
    


    

