.home-section {
    background-image: url(../../assets/images/home_image_01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    min-height: 100vh;
    @include flex_center;
    .home-section-content-wrapper {
        // width: 1170px;
        h1 {
            font-size: 80px;
            color: $white;
            font-weight: 750;
            font-family: "Rubik", sans-serif;
            line-height: 120%;
            margin-bottom: 40px;
            padding: 20px 0px;
        }
        a {
            @include button;
        }
    }
}
